.container-main {
  font: 500 1rem 'Quicksand' sans-serif;
}

.d-flexs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-admin {
  font: 500 1rem 'Quicksand' sans-serif;
  width: 500px;
  max-width: 500px;
  max-height: 80vh;
  margin:1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
  border-radius: 4%;
  background-color: #ffffff;
}